.pokemon-container{
    width:250px;
    height:250px;
    border-color: black;
    border-width: thin;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 0 0 4px black;
    flex: 0 0 15%;
    margin: 10px;

    &:hover{
        background-color: red;
        cursor: pointer;
    }

    .image-container{
        display:flex;

        .pokemon-image{
            width:200px;
            height:200px;
            margin: auto;
        };
    };

    .text-container{
        text-align: center;
    }
}