.container{
    height:100%;
    display: flex;
    justify-content: center;

    .grid-container{
        display:flex;
        width:90%;
        flex-flow: row wrap;
        justify-content: center;
    }
}