.modal-container{
    background-color: white;
    width:70%;
    height:70%;
    border: 1px solid rgb(0, 0, 0);
    position:absolute;
    box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
    transform: scale(1);
    opacity: 1;
}