.homepage-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title-text{
        display: flex;
        justify-content: center;
        text-align: center;
    }

}